h2= 'Dodavanje novog predmeta'
form(method='POST')
  p='Sifra predmeta'
    input( name='Sifra' )
  p='Naziv'
    input( name='Naziv' )
  p='Moderatori( odvojeni sa ; )'
    input( name='moderator' )
  input( type='submit' )
